<html>
    <head>
        <title>Brand Edit</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>

        <div class="container">


            {% include 'partials/nav.html' %}


            <h3>Welcome to {{ brand.getName }}</h3>

            <strong>Stores that carry {{ brand.getName }}:</strong>
            <ul>

                {% if stores is not empty %}

                    {% for store in stores %}

                        <li><a href="/store/{{ store.getId }}">{{store.getName}}</a></li>

                    {% endfor %}

                {% else %}

                    <p>No Stores listed yet</p>
                
                {% endif %}
            </ul>
            <p>


                <strong>Add a Store that sells {{brand.getName}}</strong>


                <div class='row'>
                    <div class='col-xs-2'>
                        <strong>Store Name:</strong>
                    </div>
                    <div class='col-xs-3'>
                        <form action='/brand/{{brand.getId}}' method='post'>
                            <input id='brand_id' name='brand_id' type='hidden' value='{{ brand.getId }}'>

                            <select name='store'>
                            {% if all_stores is not empty %}

                                <!-- <option selectd value="base">Select a Shoe Brand</option> -->
                                
                                {% for store in all_stores %}
                                    <option value='{{store.getId}}'>{{store.getName}}</option>   
                                {% endfor %}

                            {% else %}
                                <strong selected value="base">No Stores entered. </strong>
                            {% endif %}
                            </select>

                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-3'>
                        <button class="btn-default" type="submit">Add Store</button>
                        <br>
                    </form>
                    </div>
                </div>


                <br>
                <strong>Update the Brand: {{ brand.getName }}</strong>
                <form action="/brand/{{ brand.getId }}" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="client_name">New Name: </label>
                        </div>
                        <div class="col-xs-3">
                            <input id="name" name="name" type="text" required><br>
                        </div>
                    </div> 

                    <button class="btn-default" type="submit">Update</button>
                     
                </form>

                <strong>Delete: {{brand.getName }} Brand</strong>
                <form action="/brand/{{ brand.getId }}" method="post">
                    <div class="row">
                        <div class='col-xs-1'>
                            <input name="_method" type="hidden" value="delete">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                        <div class="col-xs-8"><br>
                        </div> 
                    </div>
                </form>
                       

                <a href="/"><button class="btn btn-medium btn-primary btn-xs-1">Home</button></a>

            </p>

        </div>
    </body>
</html>
