<html>
    <head>
        <title>Brand Edit</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>

        <div class="container">

            <h3>Welcome to {{ brand.getName }}</h3>

            <strong>Stores that carry {{ brand.getName }}:</strong>
            <ul>

                {% if stores is not empty %}

                    {% for store in stores %}

                        <li><a href="/store/{{ store.getId }}">{{store.getName}}</a></li>

                    {% endfor %}

                {% else %}

                    <p>No Stores listed yet</p>
                
                {% endif %}
            </ul>
            <p>

                <strong>Add a Store that sells {{brand.getName}}</strong>

                <form action='/brand/{{brand.getId}}' method='post'>
                    <input id='brand_id' name='brand_id' type='hidden' value='{{ brand.getId }}'>
                    <div class="row">
                        <div class="col-xs-2">
                            <label for ='name'>Name:</label>
                        </div>
                        <div class="col-xs-3">
                            <input id='name' name='name' type='text' placeholder="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <label for ='address'>Address:</label>
                        </div>
                        <div class="col-xs-3">
                            <input id='address' name='address' type='text' placeholder="" required>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-xs-2">
                            <label for ='phone'>Phone:</label>
                        </div>
                        <div class="col-xs-3">
                            <input id='phone' name='phone' type='text' placeholder="" required>
                        </div>
                    </div>
                    <button class="btn-default" type="submit">Add Store</button>
                    <br>
                </form>

                <br>
                <strong>Update the Brand: {{ brand.getName }}</strong>
                <form action="/brand/{{ brand.getId }}" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="client_name">New Name: </label>
                        </div>
                        <div class="col-xs-3">
                            <input id="name" name="name" type="text" required><br>
                        </div>
                    </div> 

                    <button class="btn-default" type="submit">Update</button>
                     
                </form>

                <strong>Delete: {{brand.getName }}</strong>
                <form action="/brand/{{ brand.getId }}" method="post">
                    <input name="_method" type="hidden" value="delete">
                    <button type="submit" class="btn-default">Delete</button>
                </form>
                       

                <a href="/">Home</a>

            </p>

        </div>
    </body>
</html>
